/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&family=Sacramento&display=swap');
body{
    /* background-color: #4d0066; */
    background-image: linear-gradient(to right top, #5f196f, #471c59, #331b42, #21172b, #121014);
    margin: 0;

}
#ed{
    color: white;
    background-color: black;
    padding: 50px;
    margin: 10px 100px 10px 100px;
}
#skills{
    color: white;
    background-color:black;
    padding: 50px;
    margin: 10px 100px 10px 100px;
}
#projects{
    background-color: black;
    color: white;
    margin: 10px 100px 10px 100px; 
    padding: 50px;
}
#column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    
}
#project1,#project2{
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    display: flex;
    background: #000;
    transition: all 0.7s ease-in-out;

}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-list li {
    list-style: none;
    padding: 1.5em;
    float: right;
    z-index: 999999999;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    user-select: none !important;
  
}

.logo {
    float: left;
    padding: 18px 1.4em;
    color: white;
    font-family: 'Sacramento', sans-serif;
    font-size: 2rem;
}

.buttons {
    position: absolute;
    right: 0;
    padding: 0.5em;
    overflow: hidden;

}

.btn {
    padding: 0.7em;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: 2.4px solid white !important;
    border: none;
    color: white;
    font-size: 17px;
    margin: 0.1rem 0.5rem;
    overflow: hidden;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.hamburger-menu-icon {
    display: none;
}
.but{
    opacity: 1;
}
.line {
    width: 33px;
    background: white;
    height: 4px;
    margin: 5px;
    border-radius: 2em;
}
button{
    padding: 10px 48px;
    margin-top: 20px;
    background-color: #331b42;
    color: #fff;
    font-family: 'poppins';

}
button a{
    color: #fff;

}

/* Media Queries */
@media screen and (max-width: 880px) {
    .navbar {
        flex-direction: column;
    }

    body {
        user-select: none !important;
    }

    .nav-list {
        flex-direction: column;

    }

    .nav-list li {
        text-align: center;
    }

    .buttons {
        position: relative;
    }

    .logo {
        padding: 11px 1.2em;
    }

    .hamburger-menu-icon {
        display: block;
        position: absolute;
        right: 0;
        margin: 0.8rem;
    }

    .navbar-height-responsive {
        height: 60px;
    }

    .navbar-height-normal {
        height: 27rem;
    }
    .but{
        opacity: 0;
    }
}

/* Media Queries */

